/***********************************************************************
 * Icons
 **********************************************************************/
.icon {
	min-height: 16px;
	min-width: 16px;
	line-height: 16px;
	padding-left: 18px;
}
.icon-about {
	background: url("icons/fugue/information.png") no-repeat !important;
	height: 24px !important;
	width: 24px !important;
}	
.icon-add {
	background: url("icons/fugue/plus.png") no-repeat !important;
}	
div.add {
	background: url("icons/fugue/plus.png") no-repeat center;
	filter:alpha(opacity=15);
	-moz-opacity: 0.15;
	opacity: 0.15;
	-khtml-opacity: 0.15;
}
.icon-add {
	background: url("icons/fugue/plus.png") no-repeat !important;
}	
.simulated_hover div.add,
div.add:hover {
	filter:alpha(opacity=100) !important;
	-moz-opacity: 1.0 !important;
	opacity: 1.0 !important;
	-khtml-opacity: 1.0 !important;
}
.icon-add-url {
	background: url("icons/fugue/globe--plus.png") no-repeat !important;
}
.icon-album {
	background: url("icons/fugue/disc.png") no-repeat !important;
}
.icon-groups-album {
	background: url("icons/fugue/discs.png") no-repeat !important;
}
.icon-artist, .icon-albumartist {
	background: url("icons/fugue/microphone.png") no-repeat !important;
}
.icon-bottom {
	background: url("icons/fugue/arrow-stop-270.png") no-repeat !important;
}
.icon-cancel {
	background: url("icons/fugue/cross-script.png") no-repeat !important;
}
.icon-clear {
	background: url("icons/fugue/document-new.png") no-repeat !important;
}
.icon-cover {
	background: url("icons/fugue/blog.png") no-repeat !important;
}
.icon-date {
	background: url("icons/fugue/calendar-day.png") no-repeat !important;
}
.icon-directory {
	background: url("icons/fugue/folder-horizontal.png") no-repeat !important;
}
.icon-disc {
	background: url("icons/fugue/disc-case-label.png") no-repeat !important;
}
.x-tree-node-expanded .icon-directory,
.x-tree-selected .icon-directory,
.icon-directory-open {
	background: url("icons/fugue/folder-horizontal-open.png") no-repeat !important;
}
.icon-edit {
	background: url("icons/fugue/pencil.png") no-repeat !important;
}
.icon-edit-tags {
	background: url("icons/fugue/tag--pencil.png") no-repeat !important;
}
.icon-file {
	background: url("icons/fugue/music.png") no-repeat !important;
}
.icon-genre {
	background: url("icons/fugue/tag.png") no-repeat !important;
}
.icon-group-unknown {
	background: url("icons/fugue/folder-open.png") no-repeat !important;
}
.icon-group-album {
	background: url("icons/fugue/folder-disc.png") no-repeat !important;
}
.icon-group-artist {
	background: url("icons/fugue/folder-microphone.png") no-repeat !important;
}
.icon-group-playlist {
	background: url("icons/fugue/folder-open-document-music.png") no-repeat !important;
}
.icon-home {
	background: url("icons/fugue/home.png") no-repeat !important;
}
.icon-info {
	background: url("icons/fugue/information-frame.png") no-repeat !important;
}
.icon-next {
	background: url("images/next.png") no-repeat !important;
	height: 22px !important;
	width: 32px !important;
}
.icon-options {
	background: url("icons/fugue/gear.png") no-repeat !important;
	height: 16px !important;
	width: 16px !important;
}	
.icon-outputs {
	background: url("icons/fugue/speaker.png") no-repeat !important;
}
.icon-output-off {
	background: url("icons/fugue/output-off.png") no-repeat !important;
}
.icon-output-on {
	background: url("icons/fugue/output-on.png") no-repeat !important;
}
.icon-pause {
	background: url("images/pause.png") no-repeat !important;
	height: 16px !important;
	width: 16px !important;
}
.icon-play {
	background: url("images/play.png") no-repeat !important;
	height: 42px !important;
	width: 39px !important;
}
.icon-play-small {
	background: url("icons/fugue/control.png") no-repeat !important;
}
.icon-playlist {
	background: url("icons/fugue/document-music.png") no-repeat !important;
}
.icon-group-playlist {
	background: url("icons/fugue/folder-open-document-music.png") no-repeat !important;
}
.icon-newtab {
	background: url("icons/fugue/ui-tab--plus.png") no-repeat !important;
	padding-left: 16px !important;
}
.icon-previous {
	background: url("images/prev.png") no-repeat !important;
	height: 22px !important;
	width: 32px !important;
}
.icon-random {
	background: url("icons/fugue/arrow-switch-gray.png") no-repeat 1px 0px !important;
}
.x-btn-pressed .icon-random {
	background: url("icons/fugue/arrow-switch.png") no-repeat 1px 0px !important;
}
.icon-refresh {
	background: url("icons/fugue/arrow-circle-315.png") no-repeat !important;
}
div.remove:hover,
.simulated_hover div.remove {
	background: url("icons/fugue/cross-script.png") no-repeat left top;
	text-indent: -100px;
}
.icon-repeat {
	background: url("icons/fugue/arrow-repeat-gray.png") no-repeat !important;
}
.x-btn-pressed .icon-repeat {
	background: url("icons/fugue/arrow-repeat.png") no-repeat !important;
}
.icon-replace {
	background: url("icons/fugue/plus-octagon.png") no-repeat !important;
}	
.icon-save {
	background: url("icons/fugue/disk.png") no-repeat !important;
}
.icon-search {
	background: url("icons/fugue/magnifier.png") no-repeat !important;
}
.icon-sidebar {
	background: url("icons/fugue/layout-select-sidebar-right.png") no-repeat !important;
}
.icon-stop {
	background: url("images/stop.png") no-repeat !important;
	height: 16px !important;
	width: 16px !important;
}
.icon-time {
	background: url("icons/fugue/clock.png") no-repeat !important;
}
.icon-tree {
	background: url("icons/fugue/node.png") no-repeat !important;
}
.icon-top {
	background: url("icons/fugue/arrow-stop-090.png") no-repeat !important;
}

/***********************************************************************
 * Components
 **********************************************************************/

#mpd-controls {
	background-image: none !important;
	background: transparent !important;
}

.x-accordion-hd {
    font-size: 12px;
    font-weight: bold;
}

.x-list-body {
	border-left: 1px solid #D0D0D0;
}
.x-list-body dl {
	border-bottom: 1px solid #D0D0D0;
}
.albums img {
	float: left;
	max-height: 64px;
	max-width: 64px;
	margin: 2px;
	margin-right: 6px;
}
.albums .x-list-body em {
	padding: 0px !important;
	margin: 0px !important;
}
.albums .x-list-body em > div {
	padding: 2px;
}
.list-dropover {
	border-top: 16px solid #C7D3DA !important;
}
div.album-group-start {
	white-space: normal !important;
}

div.x-grid3-col-cicon {padding: 0px; margin: 2px 3px 0px 0px;}
.x-grid3-col-csong {font-weight: 800}
.x-grid3-col-calbum {font-weight: normal !important}
.x-grid3-col-cartist {
	font-weight: normal !important;
	font-style: italic !important;
}
.x-grid3-td-cpos, .x-grid3-col-cpos,
.x-grid3-col-cpos > div {
	height: 18px;
	width: 18px;
	margin: 0px;
	padding: 0px;
}
.x-grid3-col-cpos > div.remove {
	padding: 2px;
}

.group-by-letter {
	border-bottom: 1px dotted;
	font-weight: bold;
}
.x-tree-node {
	margin-top: 1px;
	margin-bottom: 0px;
}
a.x-tree-node-anchor {
	padding-left: 2px;
}

.x-tab-strip-text {
	background-repeat: no-repeat;
	background-position: 0 6px !important;
	padding-left: 19px !important;
	height: 18px;
}
#dbtabbrowser__new_tab .x-tab-right {
	width: 25px !important;
}
.x-tab-strip-text {
	background-position: 0 3px !important;
	margin-top: 2px !important;
	height: 16px;
}

.song-count {
	color: #808080 !important;
}
